<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VOTING.APP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Voting-App-Take-Home-Assessment">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <main role="main">
      <%= yield %>
    </main>
  </body>
</html>
